name = "jyotilalchandani"
compatibility_date = "2024-09-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[[kv_namespaces]]
binding = "MERGED_CACHE"
id = "8c4c045cf255490a8b9146ab393bd0e0"

[[kv_namespaces]]
binding = "EBAY_TOKEN"
id = "1ea1e1dccdd04b2898f3700fd91a18c9"

[[kv_namespaces]]
binding = "SUGGESTIONS"
id = "60392e62d508494b8f509e3ad8f3ddec"

[[kv_namespaces]]
binding = "OVERRIDES"
id = "4de8728f89104b92911d47ce70f70744"

[[kv_namespaces]]
binding = "AFFILIATE_KV"
id = "63dd4c653efb42eb8b46714e9def97f4"

[env.production.vars]
VITE_YOUTUBE_API_KEY = "[REDACTED:api-key]"
VITE_NEWSAPI_KEY = "[REDACTED:api-key]"
VITE_API_NINJAS_KEY = "Wms+OVJPiwMCNAa5aVdKcg==ZjIe9FGzbsi4A5v0"
UNSPLASH_ACCESS_KEY = "45KTR6-Zue9Pkb6Obw4swYQE7r0iUqfa-ghgJc73UpI"
OBF_BASE_URL = "https://world.openbeautyfacts.org"
MERGED_TTL_SECONDS = "14400"
EBAY_CLIENT_ID = "Abhishek-Blushand-PRD-e6e427756-f9d13125"
EBAY_CLIENT_SECRET = "PRD-6e42775638de-6e07-4ca9-a6a8-fc54"
EBAY_ENV = "PROD"
EBAY_CAMPAIGN_ID = "PLACEHOLDER"
ADMIN_PASSWORD = "[REDACTED:password]"

[env.preview.vars]
VITE_YOUTUBE_API_KEY = "[REDACTED:api-key]"
VITE_NEWSAPI_KEY = "[REDACTED:api-key]"
VITE_API_NINJAS_KEY = "Wms+OVJPiwMCNAa5aVdKcg==ZjIe9FGzbsi4A5v0"
UNSPLASH_ACCESS_KEY = "45KTR6-Zue9Pkb6Obw4swYQE7r0iUqfa-ghgJc73UpI"
OBF_BASE_URL = "https://world.openbeautyfacts.org"
MERGED_TTL_SECONDS = "14400"
